<ion-header hidden>
  <ion-navbar>
    <ion-title>
      Disney Parks NLP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="sendVoice()">
      <ion-icon name="mic"></ion-icon>
    </button>
  </ion-fab>

  <ion-list no-lines class="chat-list">
    <ion-item *ngFor="let message of messageArr" class="chat-item" text-wrap>
      <ion-avatar item-left *ngIf="message.msgSender=='api'">
        <img src="assets/imgs/mickey.png">
      </ion-avatar>
      <ion-avatar item-right *ngIf="message.msgSender=='me'">
        <img src="assets/imgs/ionic-logo.png">
      </ion-avatar>
      <div *ngIf="message.msgSender=='api'" class="bubble me">
        <h3>{{message.msgText}}</h3>
      </div>
      <div *ngIf="message.msgSender=='me'" class="bubble you">
        <h3>{{message.msgText}}</h3>
      </div>
    </ion-item>
  </ion-list>


  <!-- Removed from Boilerplate-->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input #input type="text" placeholder="Type your question.." [(ngModel)]="inputText"></ion-input>
      <button ion-button icon-only item-right clear (click)="sendText(); input.setFocus()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>